/* standard overrides */

html {
  font-family: sans-serif;
}

body {
  height: 100%;
  /* background-color: #031c2a;  // titans */
  /* background-color: #0c2340;    // texans */
  background-color: #02141f;
  color: #e1e4e6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-decoration: none;
}

a, a:active, a:link, a:hover, a:visited {
  text-decoration: none;
}

div {
  color: #dddddd;
}

p {
  /* color: #4f606a; */
}

small {
  color: #53a9ff;
}

/* custom classes */

.darker-blue {
  color: #03202f;
}

.dark-blue {
  color: #0c2340;
}

.serene-blue {
  color: #052584;
}

.blue {
  color: #046ec8;
}

.bright-blue {
  color: #2090ff;
}

.electric-blue {
  color: #04efef;
}

.off-white {
  color: #e1e4e6;
}

.date {
  background-color: #dd0000;
}

.score {
  margin-left: 20px;
  color: #53a9ff;
  float: right;
}

/* bootstrap */

.nav {
  background-color: #151515;
}

.navbar-dark .navbar-brand {
  color: #052584;
}

.list-group-item {
  background-color: #0c2340;
  opacity: .9;
  margin-left: 5px;
}

.list-group-item:hover {  
  background-color: #052584;
}

.list-group-item-action:hover {
  color: #ffffff;
  background-color: #052584;
  opacity: .8;
}

.jumbotron {
  background-color: #02141f;
}