/* standard overrides */

html {
  font-family: sans-serif;
}

body {
  height: 100%;
  /* background-color: #031c2a;  // titans */
  /* background-color: #0c2340; */
  /* background-color: #02141f; */
  /* background-color: #26282A; */
  /* background-color: #161616; */
  /* background-color: #ff0000; */
  /* background-color: #052A51; */
  background-color: #181818;
  color: #e1e4e6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  text-decoration: none;
}

a, a:active, a:link, a:hover, a:visited {
  text-decoration: none;
}

div {
  color: #dddddd;
}

p {
  /* color: #4f606a; */
}

small {
  color: #53a9ff;
}

table {
  border: none;
}

th {
  text-decoration: none;
}

/* custom classes */

.darker-blue {
  color: #03202f;
}

.dark-blue {
  color: #0c2340;
}

.serene-blue {
  color: #052584;
}

.blue {
  color: #046ec8;
}

.bright-blue {
  color: #2090ff;
}

.electric-blue {
  color: #04efef;
}

.off-white {
  color: #e1e4e6;
}

.date {
  background-color: #dd0000;
}

.score {
  margin-left: 20px;
  color: #53a9ff;
  float: right;
}

.meter-sm {
  font-size: 10px;
}

.meter-m {
  font-size: 14px;
}

.meter-l {
  font-size: 16px;
}

/* bootstrap */

.nav {
  background-color: #151515;
}

.navbar-dark .navbar-brand {
  color: #052584;
}

.list-group-item {
  background-color: #0c2340;
  /*background-color: #0c2340; */
  /*background-color: #03202f; */
  /* opacity: .9; */
  /*border: 1px solid #141414;*/
  border: none;
}

.list-group-item:hover {
  background-color: #052584;
}

.list-group-item-action:hover {
  color: #ffffff;
  background-color: #052584;
  /* opacity: .8; */
}

.jumbotron {
  background-color: #02141f;
}

.table {
  border-top: none;
}

.table-dark {
  color: #fff;
  background-color: #03202f;
  /*-webkit-linear-gradient(left, #25c481, #25b7c4);*/
  /*background: linear-gradient(to right, #052584, #03202f);*/
  /*background: linear-gradient(to right, #25c481, #25b7c4);*/
  opacity: .8;
  border: none;
}

.table-dark .table-striped tbody tr:nth-child(even) td {
  background-color: #0c2340;
  color: #fff;
  opacity: .7;
}

.table-striped tbody tr:nth-child(odd) td {
  background-color: #02141f;
  opacity: .7;
}

.table thead th {
  /* border: 1px solid #052584; */
  border: none;
  border-bottom: 1px solid rgb(83, 169, 255, 0.1);
  background-color: rgba(12, 35, 64, 0.9);
  color: #046ec8;
  /* border-bottom: solid 1px #2090ff; */
}

.table tr, .table td {
  /* border: 1px solid #052584; */
  /* border-top: none; */
  border-top: 1px solid rgb(83, 169, 255, 0.1);
  opacity: .8;
  /* border-bottom: solid 1px #2090ff; */
}

table.table-bordered > thead > tr > th {
  border: none;
  border-top: 1px solid #03202f;
  /* background-color: rgba(255,255,255,0.3); */
  /*background-color: #03202f;*/
}

table.table-bordered > tbody > tr > td {
  /* border: 1px solid #052584; */
  border-top: 1px solid #03202f;
  /* border-bottom: solid 1px #2090ff; */
}
